.hero
  .hero__container.container
    .hero__left
      h1.hero__title Зарабатывайте <br> больше <br>
        span.hero__title-gradient с WELBEX
      p.hero__subtitle Развиваем и контролируем <br> продажи за вас

    .hero__right
      .hero__usp
        p.hero__usp-title Вместе с <span class="hero__usp-title-gradient">бесплатной <br> консультацией </span> мы дарим:

        ul.hero__usp-list.hero__usp-list--desktop
          li.hero__usp-item
            span.hero__usp-item-name Виджеты
            span.hero__usp-item-text 30 готовых <br> решений
          li.hero__usp-item
            span.hero__usp-item-name Dashboard
            span.hero__usp-item-text с показателями <br> вашего бизнеса
          li.hero__usp-item
            span.hero__usp-item-name Skype Аудит
            span.hero__usp-item-text отдела продаж <br> и CRM системы
          li.hero__usp-item
            span.hero__usp-item-name 35 дней
            span.hero__usp-item-text использования <br> CRM

        ul.hero__usp-list.hero__usp-list--mobile
          li.hero__usp-item Skype аудит
          li.hero__usp-item 30 виджетов
          li.hero__usp-item Dashboard
          li.hero__usp-item Месяц аmoCRM

      button.hero__button Получить консультацию

