header.header
  .header__container.container
    a.header__logo(href="index.html")
      img(src="./assets/img/logo.svg")
    nav.header__nav
      ul.header__nav-list
        li.header__nav-item
          a.header__nav-link(href="##") Услуги
        li.header__nav-item
          a.header__nav-link(href="##") Виджеты
        li.header__nav-item
          a.header__nav-link(href="##") Интеграции
        li.header__nav-item
          a.header__nav-link(href="##") Кейсы
        li.header__nav-item.header__nav-item--hidden-mobile
          a.header__nav-link(href="##") Сертификаты

    .header__contacts
      a.header__tel(href="tel:+75555555555") +7 555 555-55-55

      ul.header__social
        li.header__social-item
          a.header__social-link(href="##")
            img(src="./assets/img/icons/telegram.svg")

        li.header__social-item
          a.header__social-link(href="##")
            img(src="./assets/img/icons/viber.svg")

        li.header__social-item
          a.header__social-link(href="##")
            img(src="./assets/img/icons/whatsapp.svg")


