footer.footer
  .footer__container.container
    nav.footer__menu

      ul.footer__menu-list
        li.footer__menu-item
          span.footer__menu-title О компании
        li.footer__menu-item
          a.footer__menu-link(href="##") Партнёрская программа
        li.footer__menu-item
          a.footer__menu-link(href="##") Вакансии


      ul.footer__menu-list.footer__menu-list--menu
        li.footer__menu-item.footer__menu-item--title
          span.footer__menu-title Меню

        li.footer__menu-item
          a.footer__menu-link(href="##") Расчёт стоимости
        li.footer__menu-item
          a.footer__menu-link(href="##") Кейсы
        li.footer__menu-item
          a.footer__menu-link(href="##") Услуги
        li.footer__menu-item
          a.footer__menu-link(href="##") Благодарственные письма
        li.footer__menu-item
          a.footer__menu-link(href="##") Виджеты
        li.footer__menu-item
          a.footer__menu-link(href="##") Сертификаты
        li.footer__menu-item
          a.footer__menu-link(href="##") Интеграции
        li.footer__menu-item
          a.footer__menu-link(href="##") Блог на Youtube
        li.footer__menu-item
          a.footer__menu-link(href="##") Наши клиенты
        li.footer__menu-item
          a.footer__menu-link(href="##") Вопрос / Ответ


      ul.footer__menu-list.footer__menu-list--contacts
        li.footer__menu-item
          span.footer__menu-title Контакты

        li.footer__menu-item
          a.footer__menu-link.footer__menu-link--tel(href="tel:+75555555555") +7 555 555-55-55

        li.footer__menu-item
          ul.footer__social
            li.footer__social-item
              a.footer__social-link(href="##")
                img(src="./assets/img/icons/telegram.svg")
            li.footer__social-item
              a.footer__social-link(href="##")
                img(src="./assets/img/icons/viber.svg")
            li.footer__social-item
              a.footer__social-link(href="##")
                img(src="./assets/img/icons/whatsapp.svg")

        li.footer__menu-item
          span.footer__menu-address Москва, Путевой проезд 3с1, к 902


    .footer__copy
      p ©WELBEX 2022. Все права защищены.
      a(href="##") Политика конфиденциальности

